<!DOCTYPE html>
<html>
  <head>
    <title>Products Manager</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="/products">Add new product</a>
  </body>
</html>
